h1 Pivotal Review

.wrap
  form(action="/sessions/new", method="post")
    p
      \Input your Pivotal Tracker Token
    p
      input(type="text", name="token")
    p
      input(type="submit", value="Login to Pivotal Tracker")

