.ratings
  a(data-size="0")
    img(src="https://cdn2-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_0pt_powers_of_2.gif")
  a(data-size="1")
    img(src="https://cdn2-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_1pt_powers_of_2.gif")
  a(data-size="2")
    img(src="https://cdn2-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_2pt_powers_of_2.gif")
  a(data-size="4")
    img(src="https://cdn2-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_4pt_powers_of_2.gif")
  a(data-size="8")
    img(src="https://cdn2-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_8pt_powers_of_2.gif")
